*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#f5f7fb;
}

/* ======================
Navbar
====================== */

.navbar{
padding:18px 0;
transition:.4s;
}

.navbar.scrolled{
background:rgba(255,255,255,.95);
backdrop-filter:blur(20px);
box-shadow:0 10px 35px rgba(0,0,0,.08);
}

.navbar-brand{
font-size:30px;
font-weight:800;
letter-spacing:.5px;
}

.navbar-brand span{
color:#4F46E5;
}

.nav-link{
font-size:15px;
font-weight:600;
color:#222 !important;
margin:0 8px;
position:relative;
}

.nav-link::after{
content:"";
position:absolute;
left:0;
bottom:-6px;
width:0;
height:2px;
background:#4F46E5;
transition:.35s;
}

.nav-link:hover::after{
width:100%;
}

.dropdown-menu{
border:none;
border-radius:18px;
padding:12px;
box-shadow:0 20px 50px rgba(0,0,0,.12);
}

.dropdown-item{
padding:12px 18px;
border-radius:12px;
font-weight:500;
}

.dropdown-item:hover{
background:#EEF2FF;
color:#4F46E5;
}

.navbar-toggler{
border:none;
box-shadow:none!important;
font-size:28px;
}

.offcanvas{
width:280px;
}

.offcanvas-title{
font-weight:700;
font-size:28px;
}

.offcanvas-title span{
color:#4F46E5;
}

.mobile-link{
padding:14px 0;
display:block;
font-weight:600;
text-decoration:none;
color:#222;
border-bottom:1px solid #eee;
}

.mobile-link:hover{
color:#4F46E5;
}
